openapi: 3.2.0
info:
  title: Edlink Integrations API
  description: The Edlink API provides a unified, normalized interface to school roster and learning data across hundreds of SIS and LMS source systems.
  termsOfService: https://ed.link/legal/terms
  contact:
    name: Edlink Support
    url: https://ed.link/docs
    email: support@ed.link
  version: '2.0'
servers:
- url: https://ed.link/api/v2
  description: Edlink API v2
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Source and integration metadata.
paths:
  /meta/integrations:
    get:
      operationId: listIntegrations
      tags:
      - Integrations
      summary: List integrations (Meta API)
      description: Service-account access to all integrations across the platform. Requires a Meta API access token.
      responses:
        '200':
          description: A list of integrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationList'
components:
  schemas:
    IntegrationList:
      type: object
      properties:
        $data:
          type: array
          items:
            $ref: '#/components/schemas/Integration'
        $next:
          type:
          - string
          - 'null'
    Integration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_date:
          type: string
          format: date-time
        updated_date:
          type: string
          format: date-time
        provider:
          type: string
          description: The source provider, such as Clever, ClassLink, Google Classroom, Canvas, Schoology, PowerSchool.
        status:
          type: string
        team_id:
          type:
          - string
          - 'null'
          format: uuid
        properties:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Edlink Integration Access Token, User Access Token, or Meta API token passed as a Bearer token.
